@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.px-6{
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}

.py-6 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}

.mb-block {
    margin-bottom: 100px!important;
}

h1 {
    letter-spacing: -2px!important;
}